<p style="color: green"><%= notice %></p>

<%= render @table_file %>

<div>
  <%= link_to "Edit this table file", edit_table_file_path(@table_file) %> |
  <%= link_to "Back to table files", table_files_path %>

  <%= button_to "Destroy this table file", @table_file, method: :delete %>
</div>
